/*전체page 공용 css*/
@charset "utf-8";
* { margin:0; padding:0; }
html,body { font-family:'Nanum','malgun gothic',"돋움", dotum,  Tahoma, Arial, Verdana, Helvetica, AppleGothic, Sans-serif;}

* html body { behavior:url(/css/csshover.htc); }

#wrap{width:100%;}
BODY {
	scrollbar-face-color:#ddd;    /*[실제로 움직이는 바 색상]*/
	scrollbar-shadow-color:#DEDEDE;    /*[바의 그림자 색상]*/
	scrollbar-highlight-color:#DEDEDE;  /*  [바의 왼쪽 위의 얇은 선 색상]*/
	scrollbar-3dlight-color:#FFFFFF;    /*[화살표 부분의 바깥 테두리 색상]*/
	scrollbar-darkshadow-color:#FFFFFF;  /*  [바의 오른쪽 아래 얇은 색상]*/
	scrollbar-track-color:#f7f7f7;   /* [바가 없는 부분(트랙)의 색상]*/
	scrollbar-arrow-color:#DEDEDE;  /* [화살표 색상]*/
	background-color:#ffffff;
	color:#4b4b4b; font-family:'Nanum Gothic','malgun gothic','맑은 고딕',"돋움", dotum, Tahoma, Arial, Verdana, Helvetica, AppleGothic, Sans-serif;  
	LINE-HEIGHT: 18px; font-size:12px; letter-spacing:-0.5px;
	margin:0px 0px 0 0px; padding:0;
	overflow-y:scroll;
}
/* default */
body, div, p, ul, li,ol, table, th, td, textarea, input, span, form, h1, h2, h3, h4, h5, h6, dt, dl, dd, em, sup {padding:0px;margin:0px;vertical-align:top}
ul, ol, dl, dd, dt, li {list-style-type:none}
h1,h2,h3,h4,h5,h6{font-weight:normal}
form, fieldset{margin:0;padding:0;border:0}
table, tbody, tfoot, thead, tr, th, td {border-collapse:collapse;border-spacing:0;}
img {border:0;vertical-align:top;outline:none}
optgroup {font-style:normal;font-size:0px;height:0px;line-height:0px}
input {margin:0;vertical-align:middle;color:#888;}
button{outline:none;}
select {margin:0;vertical-align:middle;color:#888}
em,address{font-style:normal;}
label {cursor:pointer;}
img, fieldset {border:0 none transparent;/*'transparent' for Opera7*/}
i, em {font-style:normal;}
caption,.skip{visibility:hidden;width:0px;height:0px;overflow:hidden;font-size:0px;margin:0px;padding:0px;line-height:0px; text-indent:-5000px;}
legend{position:absolute;top:0;left:0;visibility:hidden;width:0px;height:0px;overflow:hidden;font-size:0px;margin:0px;padding:0px;line-height:0px}
/* html5 ie9 else */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
   display:block;
   padding:0;
   margin:0
}

.png24 {tmp:expression(setPng24(this));}

@media print {.noprint { display:none; }}
a {color:#2a2a2a; text-decoration:none;cursor:pointer; outline:none;}
a:hover {/*color:#1281b5;*/	text-decoration:none;}
a.hover:hover{filter:alpha(opacity=70);	-moz-opacity:0.7;-khtml-opacity:0.7;opacity:0.7;}
a:visited{/*color:#1281b5;*/ text-decoration:none;}
a:active{text-decoration:none;}
a:link{text-decoration:none;}
a.hyperLink{color:#00c;text-decoration:underline;cursor:pointer;}
a.hyperLink.my{color:#fff;text-decoration:underline;cursor:pointer;}
.cl { clear:both; }
.bold { font-weight:bold; }
.center	{ text-align: center !important; }
.left {	text-align: left !important; }
.right { text-align: right !important; }
.middle { vertical-align: middle !important; }
.top { vertical-align: top !important; }
table.top th, table.top td{vertical-align: top !important;}
.pointer {cursor:pointer;}
.mobile {display: none; cursor: pointer;}
/* ----  media 1920 -----*/
@media screen and (max-width: 1920px) {	
}
/* ----  media 1600 -----*/
@media screen and (max-width: 1600px) {
}
/* ----  media 1366 -----*/
@media screen and (max-width: 1366px) {	
}
/* ----  media 1024 -----*/
@media screen and (max-width: 1024px) {
}
/* ----  media 900 -----*/
@media screen and (max-width: 900px) {	
}
@media screen and (max-width: 420px) {
	/* mobile-reset */
	body,th,td,input,select,textarea,button {font-size:14px;line-height:1.5; font-family:'Dosis','Quicksand','Noto Sans KR','Malgun Gothic', '맑은 고딕', Arial,sans-serif; } 
	input,select,textarea,button {font-size:100%;vertical-align:middle}
	table {border-collapse:collapse;border-spacing:0}
	body {-webkit-text-size-adjust:none} /* 뷰표트 변환시 폰트크기 자동확대 방지 */
	input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; border-radius:0}
	input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
	button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
	input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
	
	.mobile {position: absolute; display:none; width: 100%; height: 100%; background:rgba(52,49,63,0.92);  z-index: 99999; font-family:'Dosis';}
	.mobile button {width: 90%; margin: 15px 5% 0; text-align: right; color: #ccc;  font-family:'Noto Sans KR'; font-size: 30px; font-weight: 300;line-height: 30px;}
	.mobile a{color: #fff; font-weight: 600; }
	.mobile a:hover{color: #fff; font-weight: 600;}
	.mobile ul {width: 80%; margin: 1% 10% 10%; font-size: 22px; color: #fff; }
	.mobile ul h1{font-size: 22px; color: #fff;}
	.mobile ul li {line-height: 60px; font-weight: 600; }
	.mobile ul li span {display: block; margin-left: 20px; font-family:'Noto Sans KR';font-weight: 400; font-size: 16px; line-height: 40px; }
}